/* Ändrar font på alla texter */
* {
  font-family: 'Montserrat', sans-serif;
/* ändrar alla forms */
}
.form {
  width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 10px;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
/* error text */
.error {
	color: white;
}
/* alla textboxar */
.inputbox {
  width: 30%;
  padding: 12px 20px;
  margin: 0px 0px 10px;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  color: black;
  margin-left: 35%;
}
/* ändrar i textarea på indexsidan */
#textarea {
  width: 50%;
  margin-left: 25%;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  color: black;
  background: white;
}
/* registreraknappen på loginsidan */
#reg {
  width: 15%;
  padding: 12px 20px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: white;
}
/* logga in/posta kommentar */
.submit {
  width: 15%;
    padding: 12px 20px;
    margin: 0px 0px 10px;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background: radial-gradient(#000000, #333333);
}
/* background */
body {
  background-image: url(../img/norrsken.jpg);
  background-size: 1370px 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  left: 100px;
}
/* välkomsttext på diverse sidor, även nån "h1"*/
.welcometext {
  color: white;
  text-align: center;
}
/* där alla kommentarar visas */
#result {
  width: 50%;
  padding: 52px 20px;
  margin: 0px 5px 5px 5px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  background: white;
}
/* underliggande div där alla kommentarer visas */
.posts {
  text-align: left;
  margin-top: -5%;

}
/* den som postat kommentaren */
.user {
opacity: 0.4;
}
/* kommentaren som postas */
.comment {
  margin-top: 15px;
  margin-bottom: -5%;
}
/* översta delen på alla sidor */
.topnav {
    position: relative;
    overflow: hidden;
    opacity: 0.9;
}

/* stylear länkarna inne i topnav */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Ändrar färg när man hooverar */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* färg på knappen */
.topnav a.homebutton {
  margin-top: 0px;
  color: white;

/* logga ut knapp */
}
#logoutbutton {
    float: left;
}

/* centrerade delen i topnav*/
.topnav-centered a {
  float: none;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -0%);
}
/* högra delen i topnav */
.topnav-right a {
  float: right;
  color: white;
}
/* där det står vem som är inloggad */
.inlog {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* "klicka här-knappar" */
#goback {
  color: white;
}
/* det som visas vid felmeddelanden */
.echo {
  color: white;
  bottom: 0;
}
